/* Style général */
body {
    min-height: 100vh;/* footer bas de page */
    display: flex;/* footer bas de page */
    flex-direction: column;/* footer bas de page */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CECECE;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style consentement cookies */
/*.termly-display-preferences {
    color: #fff;
    font-weight: bold;
}*/
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000FF;
    color: #fff;
    padding: 10px 20px;
}
/*.header-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}*/
.header-center {
    font-size: 2em;
    font-weight: bold;
}
.hamburger {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
}
/* Menu */
nav {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #444;
    border-radius: 5px;
    flex-direction: column;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav a:hover {
    background-color: #555;
}
/* Style des titres h */
.titreBienvenueh1 {
    color: #0000FF;
}
.titreh2 {
    color: red;
} 
/* Footer */
footer {
    margin-top: auto;/* footer bas de page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000FF;
    color: #fff;
    padding: 10px 20px;
}
/*.footer-right {
    font-size: 0.5em;
    /*font-weight: bold;
}*/
/* Sections */
section {
    margin: 20px;
}
